*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.name,
.contacts,
.headers,
.summary_content,
.experience_summary,
ul {
    font-size: 13px;
    line-height: 18px;
}

.name {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 0;
}

.contacts,
.headers {
    text-align: center;
    padding: 5px 0;
}

.experience_details,
.education_summary,
.skills {
    width: 100%;
}

.headers {
    font-size: 15px;
    font-weight: 550;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5px 0;
}

.summary_content,
.experience_summary,
.projects_content {
    text-align: justify;
    padding: 1px 0 5px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    font-size: 14px;
}

.experience_summary,
.headers_list {
    padding-left: 2px;
}

ul,
.projects_content,
.profiles {
    list-style-type: disc;
    margin-left: 15px;
}

li {
    line-height: inherit;
}

.experience_details,
.education_degree,
.project_name {
    font-weight: 550;
    font-size: 14px;
}

.education_college {
    font-size: 13px;
}

/*
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
}

.column-left,
.column-right {
    padding: 0 10px;
}

.column-left {
    width: 70%;
    border-right: 2px solid black;
}

.column-right {
    width: 30%;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 5px 0;
}

.contacts,
.headers,
.summary_content,
.experience_summary,
ul {
    font-size: 13px;
    line-height: 18px;
}

.contacts,
.headers {
    text-align: center;
    padding: 5px 0;
}

h2 {
    font-size: 15px;
    font-weight: 550;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5px 0;
}

.summary,
.experience,
.skills,
.certifications,
.education,
.projects {
    width: 100%;
}

.summary_content,
.experience_summary,
.projects_content {
    text-align: justify;
    padding: 1px 0 5px;
}

.date {
    font-size: 14px;
}

.company {
    font-size: 13px;
}

ul,
.projects_content,
.profiles {
    list-style-type: disc;
    margin-left: 15px;
}

li {
    line-height: inherit;
}
*/